<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <div>Pet Manager 3000</div>
  <div>
    <form [formGroup]="form" (ngSubmit)="addToList()">
      <div>Dog Name:</div>
      <input type="text" formControlName="name" class="form-control" placeholder="Ex: Carl" />
      <button class="btn btn-outline-secondary" type="submit">Add</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <app-status-box [type]="listed" />
  </div>
  <div class="col-4">
    <app-status-box  [type]="exam" />
  </div>
  <div class="col-4">
    <app-status-box  [type]="fbth" />
  </div>
</div>
<router-outlet />
